.prediction-div{
    height: auto;
    align-items: center;
    width:30vw;
    position: absolute;
    top: 50%;
    background-Color: rgba(162, 134, 206, 0.746);
    left: 50%;
    transform: translate(-50%, -50%);
    z-Index: 1;
    padding:30px;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color:black;
}

.prediction-div button {
    display: block;
    margin: 0 auto;
    max-width: 200px; /* sau orice lățime preferi */
    background:transparent;
    color:black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

}
