/* Containerul pentru întregul chat */
.chat-container {
 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 10px;
  height: 80vh;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

/* Containerul pentru mesaje */
.chat-messages {
  flex: 1;
  overflow-y: auto;
}

/* Stilizarea mesajelor */
.messageDiv {
  max-width: 70%; /* Limităm lățimea mesajelor */
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  clear: both;
}

.messageDivEven {
  padding:10px;
  background-color: #695cb470;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin:10px;
  width: 70%;
  margin: 10px;
  float: right;
}

.messageDivOdd {
  padding:10px;
  background-color: #2b5e996a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin: 10px;
  width: 70%;
  float: left;
}


.DateDivEven {
  width: 70%;
  float: right;
  margin-left: auto; /* Poziționează elementul cât mai în dreapta */
}


.DateDivOdd {
  width: 70%;
  margin-Left: 10px;
  float: left;
}

/* Stilizarea inputului și butonului */
.chat-input {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.chat-input button {
  margin:5px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #333ed744;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-input button:hover {
  background-color: #d3c5ff9c;
}
