/* styles.css */


.myFormContainer {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin: 0;
    padding: 50px;
    background-color: #4875a6bd;
    width: 300px;
    height: auto; /* Allow height to adjust based on content */
    text-align: center;
    color:white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}



.img-top {
    position: absolute;
    top: 10px;
    right: 10px;
    margin:15px;
  }
  