/* ProfilePicture.css */
.profile-picture-container {
 
  top: 40;
  left: 0;
  
  flex-direction: column;
 margin-right: 10px;
}

.profile-picture {
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  border-radius: 50%;
  margin-bottom: 5px; /* Adjust the margin as needed */

 
}
.name {
width:150px;
  /* No need for margin-top in this case */
  text-align: center;
}
