.quest-divv{
   
    position: absolute;
    top: 39.5%;
    background-Color: #f0f0f043;
    left: 50%;
    transform: translate(-50%, -50%);
    z-Index: 1;
    padding:10px;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}